* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}
h4{
    padding: 10px;
}
span{
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
}
.select_ctn{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
select {
    background-color: hsl(240, 100%, 75%);
    color: white;
    height: 30px;
    width: 150px;
}
.input_ctn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.input_ctn div, .extra_part_ctn div,.product_id_ctn{
    display: flex;
    margin: 20px 10px;
}
.input_ctn img, .extra_part_ctn img,.product_id_ctn img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.input_ctn input, .extra_part_ctn input,.product_id_ctn input {
    width: 240px;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}
.button_ctn {
    display: flex;
    justify-content: flex-end;
}
.button_ctn button{
    height: 30px;
    width: 100px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background-color: hsl(240, 100%, 75%); 
    color: white;
}
.button_ctn button[disabled] {
	background-color: hsl(240, 60%, 85%);
}
	
.input_extra_ctn {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.extra_part_ctn {
    width: 33%;
    border-right: 1px solid black;
}

input[disabled] {
	background-color: hsl(240, 26%, 90%)
}

.notification {
	transition: all 0.2s;
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 5px 20px;
	background-color: lightgreen;
}
.table_ctn{
    padding: 5px 10px;
}
table{
    width: 100%;
    text-align: center;
}
table th{
    border: 1px solid black;
    height: 40px;
    color: white;
    background-color:hsl(240, 100%, 75%);
}
.search_ctn{
    padding: 10px 20px;
}
form{
    height: 35px;
    display: flex;
}
form input{
    width: 60%;
    outline: none;
    border: 1.5px solid #D3D3D3;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0 10px;
}
form button{
    width: 10%;
    border: none;
    background: #ff0000;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
form button img{
    height: 22px;
}
.sort_title{
    width: 10%;
    text-align: center;
    padding: 3px 0;
}
.sort_title label{
    font-size: 18px;
    font-weight: bold;
}
.select_container{
    width: 20%;
}
.sort{
    width: 100%;
    height: 100%;
}
.product_img_ctn {
    width: 100px;
    height: 100px;
}
.product_img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}