@page "/admin"
@inject JPFigureContext context
@inject NavigationManager Navigation
@using JPFigure.Entities;
@inject UserRepository userRepo;
@inject CartRepository cartRepo;
@inject NavigationManager _navigationManager
<div class="ctn">
	@if (!string.IsNullOrEmpty(email))
	{
		
	<h3>Welcome, Admin</h3>
    <div class="content_ctn">
        <div class="side_bar">
            <button style="background-color: @CustomerBtColor" @onclick=@ChangeCustomerBtColor><img src="Image/value.png">Khách Hàng</button>
            <button style="background-color: @ProductBtColor" @onclick=@ChangeProductBtColor><img src="Image/warehouse.png">Hàng Hóa</button>
            <button style="background-color: @RevenueBtColor" @onclick=@ChangeRevenueBtColor><img src="Image/revenue.png">Doanh Thu</button>
        </div>
        <div class="content">
            <iframe src=@IframeLink></iframe>
        </div>
		</div>
	}
	else
	{
		<a href="/">
		<h3 style="text-align: center; color:red">Bạn không phải là admin để truy cập dịa chỉ này. 
			Bấm để quay lại trang chính</h3>
		</a>
	}
</div>
@code {
	private string CustomerBtColor = "white";
	private string ProductBtColor = "hsl(240, 100%, 75%)";
	private string RevenueBtColor = "hsl(240, 100%, 75%)";
	private string IframeLink = "https://localhost:7041/admin/customer";

	[CascadingParameter]
	public Task<AuthenticationState> AuthenticationState { get; set; }

	bool isAdmin = false;
	string email= "";

	protected override async Task OnInitializedAsync()
	{
		 email = (await AuthenticationState).User?.FindFirst(ClaimTypes.Email)?.Value;
		var u = context.Users.Where(u => email == u.Email).FirstOrDefault();
		if (u == null || u.Role != "Admin")
		{
			isAdmin = false;
		}
		else isAdmin = true;
	}

	private void ChangeCustomerBtColor(MouseEventArgs mouseEventArgs)
	{
        if (CustomerBtColor == "hsl(240, 100%, 75%)")
        {
            CustomerBtColor = "white";
            ProductBtColor = "hsl(240, 100%, 75%)";
            RevenueBtColor = "hsl(240, 100%, 75%)";
            IframeLink = "https://localhost:7041/admin/customer";
        }
    }
    private void ChangeProductBtColor(MouseEventArgs mouseEventArgs)
    {
        if (ProductBtColor == "hsl(240, 100%, 75%)")
        {
            CustomerBtColor = "hsl(240, 100%, 75%)";
            ProductBtColor = "white";
            RevenueBtColor = "hsl(240, 100%, 75%)";
            IframeLink = "https://localhost:7041/admin/product";
        }
    }
    private void ChangeRevenueBtColor(MouseEventArgs mouseEventArgs)
    {
        if (RevenueBtColor == "hsl(240, 100%, 75%)")
        {
            CustomerBtColor = "hsl(240, 100%, 75%)";
            ProductBtColor = "hsl(240, 100%, 75%)";
            RevenueBtColor = "white";
            IframeLink = "https://localhost:7041/admin/revenue";
        }
    }
}
