@page "/";
@page "/Hehe";
@inject FigureRepository FigureRepository

<NavBar></NavBar>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="4000" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="Image/banner1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="Image/banner2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="Image/banner3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <div class="control_ctn">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </div>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <div class="control_ctn">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </div>
    </button>
</div>
<div class="product_ctn">
    <h2>Nendoroid</h2>
    <p>Mô hình đồ chơi Nhật Bản thiết kế theo phong cách chibi</p>
    <div class="ctn">
        <div class="left_ctn">
            <img src="Image/nendoroid0.jpg">
        </div>
        <div class="right_ctn">
            <div class="products">
                @for (int i = 0; i < 6; i++)
                {
                    <div class="products_item">
                        <div class="product_thumb">
                            <a href="">
                                <img class="product_img" src="Image/product1.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <img src="Image/cart-white.png">
                                <span>Add To Cart</span>
                            </a>
                        </div>
                        <div class="product_name_ctn">
                            <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                        </div>
                        <div class="product_price">1,300,000₫</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="product_ctn">    
    <h2>Gundam</h2>
    <p>Sản phẩm mô hình nhựa plastic phỏng theo các nhân vật trong phim gundam.</p>
    <div class="ctn">
        <div class="right_ctn">
            <div class="products">
				@if (figures != null) {
					@for (int i = 0; i < figures.Items.Count; i++)
					{
                        <div class="products_item">
                            <div class="product_thumb">
                                <a href="/figure/@figures.Items[i].Id">
                                    <img class="product_img" src="@figures.Items[i].Images[0]" alt="">
                                </a>
                                <a href="" class="add_cart">
                                    <img src="Image/cart-white.png">
                                    <span>Add To Cart</span>
                                </a>
                            </div>
                            <div class="product_name_ctn">
                                <a href="" class="product_name">@figures.Items[i].ProductName</a>
                            </div>
                            <div class="product_price">@(figures.Items[i].Price.ToString("#,##0"))₫</div>
                        </div>
					}
				}
            </div>
        </div>
        <div class="left_ctn">
            <img src="Image/gundam0.jpg">
        </div>
    </div>
</div>
<div class="figure_banner">
    <img src="Image/banner4.png">
</div>
<div class="product_ctn">
    <h2>Scale Figure</h2>
    <p>Những figure được chế tác theo tỉ lệ chuẩn.</p>
    <div class="ctn">
        <div class="products">
            @for (int i = 0; i < 12; i++)
            {
                <div class="figure_product_item">
                    <div class="product_thumb">
                        <a href="">
                            <img class="product_img" src="Image/product5.png" alt="">
                        </a>
                        <a href="" class="add_cart">
                            <img src="Image/cart-white.png">
                            <span>Add To Cart</span>
                        </a>
                    </div>
                    <div class="product_name_ctn">
                        <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                    </div>
                    <div class="product_price">1,300,000₫</div>
                </div>
            }
        </div>
    </div>
</div>
<BottomBar></BottomBar>

@code {
	private Pagination<Models.ScaleFigure> figures;

	protected override async Task OnInitializedAsync() {
		figures = await FigureRepository.GetScaleFigures(null, 1);
	}
}