@page "/";
@page "/Hehe";

<NavBar></NavBar>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="4000" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="Image/banner1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="Image/banner2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="Image/banner3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <div class="control_ctn">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </div>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <div class="control_ctn">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </div>
    </button>
</div>
<div class="chibi_figure_ctn">
    <h2>Nendoroid</h2>
    <p>Mô hình đồ chơi Nhật Bản thiết kế theo phong cách chibi</p>
    <div class="ctn">
        <div class="left_ctn">
            <img src="Image/nendoroid0.jpg">
        </div>
        <div class="right_ctn">
            <ul class="products">
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product1.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product2.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product3.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product4.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product5.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product6.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>
<div class="gundam_ctn">    
    <h2>Gundam</h2>
    <p>Sản phẩm mô hình nhựa plastic phỏng theo các nhân vật trong phim gundam.</p>
    <div class="ctn">
        <div class="gundam_left_ctn">
            <ul class="products">
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product1.png" alt="">
                            </a>
                            <a href="" class="add_cart">   
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">                            
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product2.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">                            
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product3.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">                            
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>                           
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product4.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">                            
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>                          
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product5.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>                           
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product6.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>                           
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
        <div class="gundam_right_ctn">
            <img src="Image/gundam0.jpg">
        </div>
    </div>
</div>
<div class="figure_banner">
    <img src="Image/banner4.png">
</div>
<div class="figure_ctn">
    <h2>Scale Figure</h2>
    <p>Những figure được chế tác theo tỉ lệ chuẩn.</p>
    <div class="ctn">
        <ul class="figure_products">
            <li>
                <div class="figure_product_item">
                    <div class="figure_product_top">
                        <a href="" class="figure_product_thumb">
                            <img src="Image/product5.png" alt="">
                        </a>
                        <a href="" class="add_cart">
                            <img src="Image/cart-white.png">
                        </a>
                    </div>
                    <div class="figure_product_info">
                        <div class="figure_product_name_ctn">
                            <a href="" class="figure_product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                        </div>
                        <div class="figure_product_price">1,300,000₫</div>
                    </div>
                </div>

            </li>
            <li>
                <div class="figure_product_item">
                    <div class="figure_product_top">
                        <a href="" class="figure_product_thumb">
                            <img src="Image/product3.png" alt="">
                        </a>
                        <a href="" class="add_cart">
                            <img src="Image/cart-white.png">
                        </a>
                    </div>
                    <div class="figure_product_info">
                        <div class="figure_product_name_ctn">
                            <a href="" class="figure_product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                        </div>
                        <div class="figure_product_price">1,300,000₫</div>
                    </div>
                </div>

            </li>
            <li>
                <div class="figure_product_item">
                    <div class="figure_product_top">
                        <a href="" class="figure_product_thumb">
                            <img src="Image/product1.png" alt="">
                        </a>
                        <a href="" class="add_cart">
                            <img src="Image/cart-white.png">
                        </a>
                    </div>
                    <div class="figure_product_info">
                        <div class="figure_product_name_ctn">
                            <a href="" class="figure_product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                        </div>
                        <div class="figure_product_price">1,300,000₫</div>
                    </div>
                </div>

            </li>
            <li>
                <div class="figure_product_item">
                    <div class="figure_product_top">
                        <a href="" class="figure_product_thumb">
                            <img src="Image/product5.png" alt="">
                        </a>
                        <a href="" class="add_cart">
                            <img src="Image/cart-white.png">
                        </a>
                    </div>
                    <div class="figure_product_info">
                        <div class="figure_product_name_ctn">
                            <a href="" class="figure_product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                        </div>
                        <div class="figure_product_price">1,300,000₫</div>
                    </div>
                </div>

            </li>
            <li>
                <div class="figure_product_item">
                    <div class="figure_product_top">
                        <a href="" class="figure_product_thumb">
                            <img src="Image/product5.png" alt="">
                        </a>
                        <a href="" class="add_cart">
                            <img src="Image/cart-white.png">
                        </a>
                    </div>
                    <div class="figure_product_info">
                        <div class="figure_product_name_ctn">
                            <a href="" class="figure_product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                        </div>
                        <div class="figure_product_price">1,300,000₫</div>
                    </div>
                </div>

            </li>
            <li>
                <div class="figure_product_item">
                    <div class="figure_product_top">
                        <a href="" class="figure_product_thumb">
                            <img src="Image/product3.png" alt="">
                        </a>
                        <a href="" class="add_cart">
                            <img src="Image/cart-white.png">
                        </a>
                    </div>
                    <div class="figure_product_info">
                        <div class="figure_product_name_ctn">
                            <a href="" class="figure_product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                        </div>
                        <div class="figure_product_price">1,300,000₫</div>
                    </div>
                </div>

            </li>
            <li>
                <div class="figure_product_item">
                    <div class="figure_product_top">
                        <a href="" class="figure_product_thumb">
                            <img src="Image/product4.png" alt="">
                        </a>
                        <a href="" class="add_cart">
                            <img src="Image/cart-white.png">
                        </a>
                    </div>
                    <div class="figure_product_info">
                        <div class="figure_product_name_ctn">
                            <a href="" class="figure_product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                        </div>
                        <div class="figure_product_price">1,300,000₫</div>
                    </div>
                </div>

            </li>
            <li>
                <div class="figure_product_item">
                    <div class="figure_product_top">
                        <a href="" class="figure_product_thumb">
                            <img src="Image/product5.png" alt="">
                        </a>
                        <a href="" class="add_cart">
                            <img src="Image/cart-white.png">
                        </a>
                    </div>
                    <div class="figure_product_info">
                        <div class="figure_product_name_ctn">
                            <a href="" class="figure_product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                        </div>
                        <div class="figure_product_price">1,300,000₫</div>
                    </div>
                </div>

            </li>
            <li>
                <div class="figure_product_item">
                    <div class="figure_product_top">
                        <a href="" class="figure_product_thumb">
                            <img src="Image/product2.png" alt="">
                        </a>
                        <a href="" class="add_cart">
                            <img src="Image/cart-white.png">
                        </a>
                    </div>
                    <div class="figure_product_info">
                        <div class="figure_product_name_ctn">
                            <a href="" class="figure_product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                        </div>
                        <div class="figure_product_price">1,300,000₫</div>
                    </div>
                </div>

            </li>
            <li>
                <div class="figure_product_item">
                    <div class="figure_product_top">
                        <a href="" class="figure_product_thumb">
                            <img src="Image/product1.png" alt="">
                        </a>
                        <a href="" class="add_cart">
                            <img src="Image/cart-white.png">
                        </a>
                    </div>
                    <div class="figure_product_info">
                        <div class="figure_product_name_ctn">
                            <a href="" class="figure_product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                        </div>
                        <div class="figure_product_price">1,300,000₫</div>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>
<BottomBar></BottomBar>

@code {
    
}
