@page "/introduce"

<NavBar></NavBar>
<div class="ctn">
    <h2>Giới thiệu về Japan Figure</h2>
    <div class="banner_ctn">
        <img src="Image/introduce_banner.png" class="banner">
    </div>
    <span>► Figure là gì ?</span>
    <ul>
        <li>
            _ Là mô hình, là tượng, là bất kỳ cách gọi nào liên quan đến những tạo tác 3D cầm nắm được trên tay, mô phỏng lại nhân vật trong bức vẽ, phim, truyện, game...
        </li>
        <li>
            _ Thông thường figure mang hình dạng con người, đôi khi là động vật, thực vật, quái vật, yêu tinh, thần thánh, thậm chí là sinh vật ngoài tinh...nhân vật nào được điêu khắc thành 3D thì được gọi chung là figure.
        </li>
    </ul>
    <div class="video_ctn">
        <video controls="controls" class="video">
            <source src="Image/introduce_video.mp4">
        </video>
    </div>
    <p class="image_title">Góc trưng bày figure Nhật Bản của vợ chồng bạn Hà MY 9X tại Hà Nội</p>
    <span>► Japan Figure là gì ?</span>
    <ul>
        <li>
            1. Là những figure được các họa sĩ Nhật Bản sáng tạo, vẽ minh họa, điêu khắc và hoàn thiện thiết kế đầu tiên - prototype tại Nhật Bản.
        </li>
        <li>
            2. Sau đó phần lớn thiết kế này được gửi đi sản xuất hàng loạt tại Trung Quốc. Nên sản phẩm cuối cùng bạn cầm trên tay có chữ “Made in China” là chuyện rất bình thường.
        </li>
        <li>
            3. Vì xuất xứ từ Nhật nên hiển nhiên Japan figure mang đậm văn hóa Nhật từ Anime, Manga, Game, Light novel, J-pop cho đến ca sĩ ảo, streamer ảo v…v…
        </li>
    </ul>
    <div class="image_ctn_4">
         <img src="Image/introduce_image1.png" class="img1">
         <img src="Image/introduce_image2.png" class="img2">
         <img src="Image/introduce_image3.png" class="img3">
         <img src="Image/introduce_image7.png" class="img4">
    </div>
    <p class="image_title">Cách chơi figure với sa bàn. Ảnh của tác giả : Exkurogane</p>
    <p class="content">
        Với công nghệ của Nhật và quy trình sản xuất được giám sát nghiêm ngặt, những sản phẩm figure được hoàn thành rất có hồn của nhân vật gốc, chi tiết sắc bén, màu sắc sống động, đóng gói hỉnh chu.
        Nhờ đó, figure Nhật Bản đã làm mãn lòng fan hâm mộ trên toàn thế giới.
    </p>
    <div class="image_ctn">
         <img src="Image/introduce_image8.png">
    </div>
    <p class="image_title">Một bộ sưu tầm Figure chibi của 1 người chơi lâu năm</p>
    <div class="image_ctn">
        <img src="Image/introduce_image9.png">
    </div>
    <p class="image_title">Sử dụng Figure để lấp đầy cảm hứng cho không gian làm việc</p>
    <span>► Japan Figure</span>
    <ul>
        <li>
            _ Là nơi chuyên cung cấp figure chính hãng của Nhật Bản tại Việt Nam.
        </li>
        <li>
            _ Japan Figure là thiên đường với những bạn quan tâm, theo đuổi vẻ đẹp toàn vẹn, đam mê figure cao cấp và đây mê hoặc của Nhật Bản.
        </li>
        <li>
            _ Nếu nhu cầu của bạn chỉ dừng lại ở figure chất lượng thấp, hàng nhái, giả, không có bản quyền… thì rất tiếc Japan Figure không phải là nơi phù hợp dành cho bạn.
        </li>
        <li>
            _ Từ tháng 8/2012, sau 11 năm phục vụ, Japan Figure rất vui nhận được sự ủng hộ đông đảo từ người sưu tầm trên khắp VN.
        </li>
        <li>
            _ Tại Japan Figure chúng tôi:
            <ul>
                <li class="sub">Chuyên cung cấp figure chất lượng cao của Nhật Bản</li>
                <li class="sub">Cập nhật thông tin sản phẩm mới mỗi ngày.</li>
                <li class="sub">Giải đáp cho bạn mọi thắc mắc về figure, cách mua hàng, hỗ trợ vận chuyển miễn phí.</li>
                <li class="sub">Săn tìm figure từ hiếm cho đến cực hiếm</li>
            </ul>
        </li>
    </ul>
    <span>►Mục tiêu của Japan Figure là:</span>
    <div>
        <img src="Image/introduce_image10.png" class="sm_image">
    </div>
     <ul>
        <li>
            Bạn thích chơi figure đơn lẻ hay đi cùng 1 series với nhau?
        </li>
        <li>
            Bạn thích figure tự sơn hay sơn sẵn?
        </li>
        <li>
            Bạn muốn trưng bày tất cả figure ngay trước mặt để tăng cảm hứng làm việc, hay tạo không gian riêng cho từng bé để tăng tính nghệ thuật?
        </li>
        <li>
            Hãy chọn cho mình một figure yêu thích và cách chơi phù hợp nhé.
        </li>
     </ul>
    <div>
        <img src="Image/introduce_image11.png">
    </div>
</div>
<BottomBar></BottomBar>

@code {

}
