*{
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
.navbar{
    height: 100px;
    width: 100%;
    padding: 15px 50px;
}
.left_nb{
    display: flex;
    height: 100%;
    width: 20%;
}
img{
    object-fit: contain;
}
.center_nb{
    height: 100%;
    width: 50%;
    padding: 15px 10px;
}
form{
    height: 100%;
    display: flex;
}
form input{
    width: 90%;
    outline: none;
    border: 1.5px solid #D3D3D3;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0 10px;
}
form button{
    width: 10%;
    border: none;
    background: #ff0000;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
form button img{
    height: 22px;
}
.right_nb{
    height: 100%;
    width: 30%;
    padding: 10px;
    display: flex;
}
.container {
    width: 50%;
    display: flex;
    align-items: center;
}
.icon_bt {
    background: #FFFFFF;
    border: none;
    position: relative;
    margin: 0 10px;
}
.icon_badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #ff0000;
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.right_nb img{
    height: 25px;   
}
.right_nb span{
    font-size: 15px;
}
.menu {
    padding: 0 5%;
    display: flex;
    align-items: center;
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu ul li{
    padding: 10px 30px;
    position: relative;
}
.menu ul li a{
    text-decoration: none;
    color: #252A2B;
    transition: all 0.1s;
}
.menu ul li a:hover{
    color: #f879ff;
    cursor: pointer;
}
.menu img{
    height: 10px;
    margin: 0 2px;
}
.dropdown_menu {
    display: none;
    border: 2px solid #E8E8E8;
}
.menu ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    z-index: 1;
}
.menu ul li:hover .dropdown_menu ul{
    display: block;
    margin: 10px;
}
.menu ul li:hover .dropdown_menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #E8E8E8;
}
.dropdown_menu_gundam {
    display: none;
    border: 2px solid #E8E8E8;
}
.dropdown_menu ul li:hover .dropdown_menu_gundam {
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: white;
}
