<div class="navbar">
    <div class="left_nb">
        <img src="Image/logo.png">
    </div>
    <div class="center_nb">
        <form>
            <input type="text" placeholder="Tìm kiếm sản phẩm...?">
            <button type="submit">
                <img src="Image/magnifying-glass.png">
            </button>
        </form>
    </div>
    <div class="right_nb">
        <div class="container">
            <button type="button" class="icon_bt">
                <img src="Image/user.png">
            </button>
            <span>Tài Khoản Của Tôi</span>
        </div>
        <div class="container">
            <button type="button" class="icon_bt">
                <img src="Image/shopping-cart.png">
                <span class="icon_badge">0</span>
            </button>
            <span>Giỏ Hàng</span>
        </div>

    </div>
</div>
<div class="menu">
    <ul>
        <li><a href="#">Trang Chủ</a></li>
        <li><a href="#">Giới Thiệu</a></li>
        <li>
            <a href="#">Sản phẩm</a>
            <img src="Image/down-arrow.png">
            <div class="dropdown_menu">
                <ul>
                    <li>
                        <a href="/scalefigure">Scale Figure</a>
                    </li>
                    <li>
                        <a href="/nendoroid">Nendoroid</a>
                    </li>
                    <li>
                        <a href="/gundam">Gundam</a>
                        <img src="Image/right-arrow.png">
                        <div class="dropdown_menu_gundam">
                            <ul>
                                <li>
                                    <a href="/gundamsd">Super Deformed</a>
                                </li>
                                <li>
                                    <a href="/gundamhg">High Grade</a>
                                </li>
                                <li>
                                    <a href="/gundamrg">Real Grade</a>
                                </li>
                                <li>
                                    <a href="/gundammg">Master Grade</a>
                                </li>
                                <li>
                                    <a href="/gundampg">Perfect Grade</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Khác</a>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="#">Liên hệ</a></li>
    </ul>
</div>

@code {

}
