@page "/productdetail";
<NavBar></NavBar>
<div class="product_detail_ctn">
    <div class="left_ctn">
        <div class="sub_image_ctn">
            <div class="small_image_ctn">
                <img src="Image/product1,1.png" @onclick="OnclickImg1">
            </div>
            <div class="small_image_ctn">
                <img src="Image/product1,2.png" @onclick="OnclickImg2">
            </div>
            <div class="small_image_ctn">
                <img src="Image/product1,3.png" @onclick="OnclickImg3">
            </div>
            <div class="small_image_ctn">
                <img src="Image/product1,4.png" @onclick="OnclickImg4">
            </div>
        </div>
        <div class="main_image_ctn">
            <img src="@src" id="ProductImg">
        </div>
    </div>
    <div class="right_ctn">
        <h1>Nendoroid Swacchao! Attack on Titan Levi</h1>
        <h4>2,200,000₫</h4>
        <div class="row">
            <input type="number" value="1" min="1">
            <button class="btn">THÊM VÀO GIỎ</button>
        </div>
        <h3>THÔNG TIN SẢN PHẨM</h3>
        <p>Nendoroid Swacchao! Attack on Titan Levi</p>
        <p>Nhân vật: Levi(Levi Ackerman)</p>
        <p>Series: Attack on Titan (Shingeki no Kyojin)</p>
        <p>Hãng sản xuất: Good Smile Company</p>
        <p>Kích thước: 9cm </p>
        <p>Phát hành: 3/2023</p>
        <div class="info_ctn">          
            <img src="Image/package-box.png">
            <div>
                <span>Sản phẩm chính hãng từ Nhật Bản.</span>
            </div>
        </div>
        <div class="info_ctn">
            <img src="Image/fast.png">
            <div>
                <span>Miễn phí ship với các đơn hàng >1000K.</span>
            </div>
        </div>
        <div class="info_ctn">           
            <img src="Image/call.png">
            <div>
                <span>Vui lòng kiểm tra sản phẩm khi nhận bưu kiện.</span>
            </div>
        </div>
    </div>
</div>
<h1 class="other_product_title">Sản Phẩm Liên Quan</h1>
<div class="other_product_ctn">
    <ul class="products">
        <li>
            <div class="product_item">
                <div class="product_top">
                    <a href="" class="product_thumb">
                        <img src="Image/product1.png" alt="">
                    </a>
                    <a href="" class="add_cart">
                        <span>Add To Cart</span>
                        <img src="Image/cart-white.png">
                    </a>
                </div>
                <div class="product_info">
                    <div class="product_name_ctn">
                        <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                    </div>
                    <div class="product_price">1,300,000₫</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product_item">
                <div class="product_top">
                    <a href="" class="product_thumb">
                        <img src="Image/product2.png" alt="">
                    </a>
                    <a href="" class="add_cart">
                        <span>Add To Cart</span>
                        <img src="Image/cart-white.png">
                    </a>
                </div>
                <div class="product_info">
                    <div class="product_name_ctn">
                        <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                    </div>
                    <div class="product_price">1,300,000₫</div>
                </div>
            </div>

        </li>
        <li>
            <div class="product_item">
                <div class="product_top">
                    <a href="" class="product_thumb">
                        <img src="Image/product2.png" alt="">
                    </a>
                    <a href="" class="add_cart">
                        <span>Add To Cart</span>
                        <img src="Image/cart-white.png">
                    </a>
                </div>
                <div class="product_info">
                    <div class="product_name_ctn">
                        <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                    </div>
                    <div class="product_price">1,300,000₫</div>
                </div>
            </div>

        </li>
        <li>
            <div class="product_item">
                <div class="product_top">
                    <a href="" class="product_thumb">
                        <img src="Image/product1.png" alt="">
                    </a>
                    <a href="" class="add_cart">
                        <span>Add To Cart</span>
                        <img src="Image/cart-white.png">
                    </a>
                </div>
                <div class="product_info">
                    <div class="product_name_ctn">
                        <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                    </div>
                    <div class="product_price">1,300,000₫</div>
                </div>
            </div>

        </li>
        <li>
            <div class="product_item">
                <div class="product_top">
                    <a href="" class="product_thumb">
                        <img src="Image/product1.png" alt="">
                    </a>
                    <a href="" class="add_cart">
                        <span>Add To Cart</span>
                        <img src="Image/cart-white.png">
                    </a>
                </div>
                <div class="product_info">
                    <div class="product_name_ctn">
                        <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                    </div>
                    <div class="product_price">1,300,000₫</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<BottomBar></BottomBar>
@code {
    public string src { get; set; }
    protected override async Task OnInitializedAsync()
    {
        src = "Image/product1,1.png";
    }
    protected void OnclickImg1(MouseEventArgs mouseEventArgs){
        src = "Image/product1,1.png";
    }
    protected void OnclickImg2(MouseEventArgs mouseEventArgs)
    {
        src = "Image/product1,2.png";
    }
    protected void OnclickImg3(MouseEventArgs mouseEventArgs)
    {
        src = "Image/product1,3.png";
    }
    protected void OnclickImg4(MouseEventArgs mouseEventArgs)
    {
        src = "Image/product1,4.png";
    }
}
