@page "/scalefigure"

<NavBar></NavBar>
<div class="banner_ctn">
    <img src="Image/scale_figure_banner.png" class="banner">
</div>
<div class="sort_ctn">
    <h2>Scale Figure</h2>
    <div class="select_container">
        <img src="Image/sort.png">
        <select class="sort">
            <option value="news">Mới Nhất</option>
            <option value="oldest">Cũ Nhất</option>
        </select>
    </div>
</div>
<div class="filter_ctn">
    <div>
        <img src="Image/filter.png">
        <p>Phân Loại</p>
    </div>
    <div>
        <img src="Image/brand-image.png">
        <p>Thương Hiệu</p>
        <select class="filter_brand">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    <div>
        <img src="Image/price-tag.png">
        <p>Giá Tiền</p>
        <select class="filter_price">
            <option value="price1">Dưới 1.000.000₫</option>
            <option value="price2">1.000.000₫ - 2.000.000₫</option>
            <option value="price3">2.000.000₫ - 3.000.000₫</option>
            <option value="price4">3.000.000₫ - 4.000.000₫</option>
            <option value="price5">3.000.000₫ - 4.000.000₫</option>
            <option value="price6">Trên 4.000.000₫</option>
        </select>
    </div>
</div>
<div class="product_ctn">
            <ul class="products">
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product5.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product5.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product5.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product5.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="product_item">
                        <div class="product_top">
                            <a href="" class="product_thumb">
                                <img src="Image/product5.png" alt="">
                            </a>
                            <a href="" class="add_cart">
                                <span>Add To Cart</span>
                                <img src="Image/cart-white.png">
                            </a>
                        </div>
                        <div class="product_info">
                            <div class="product_name_ctn">
                                <a href="" class="product_name">Nendoroid Swacchao! Attack on Titan Levi</a>
                            </div>
                            <div class="product_price">1,300,000₫</div>
                        </div>
                    </div>

                </li>
            </ul>
</div>
<div class="page_navigate_ctn">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<BottomBar></BottomBar>

@code {

}
