@page "/scalefigure"

<NavBar></NavBar>
<div class="banner_ctn">
    <img src="Image/scale_figure_banner.png" class="banner">
</div>
<div class="sort_ctn">
    <h2>Scale Figure</h2>
    <div class="select_container">
        <img src="Image/sort.png">
        <select class="sort">
            <option value="news">Mới Nhất</option>
            <option value="oldest">Cũ Nhất</option>
        </select>
    </div>
</div>
<div class="filter_ctn">
    <div>
        <img src="Image/filter.png">
        <p>Phân Loại</p>
    </div>
    <div>
        <img src="Image/brand-image.png">
        <p>Thương Hiệu</p>
        <select class="filter_brand">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    <div>
        <img src="Image/price-tag.png">
        <p>Giá Tiền</p>
        <select class="filter_price">
            <option value="price1">Dưới 1.000.000₫</option>
            <option value="price2">1.000.000₫ - 2.000.000₫</option>
            <option value="price3">2.000.000₫ - 3.000.000₫</option>
            <option value="price4">3.000.000₫ - 4.000.000₫</option>
            <option value="price5">3.000.000₫ - 4.000.000₫</option>
            <option value="price6">Trên 4.000.000₫</option>
        </select>
    </div>
</div>
<div class="product_ctn">
    <ul class="products">
        @for (int i = 0; i < list.Count; i++)
        {
            <li>
                <div class="product_item">
                    <div class="product_top">
                        <a href="" class="product_thumb">
                            <img src=@list[i].Image alt="">
                        </a>
                        <a href="" class="add_cart">
                            <span>Add To Cart</span>
                            <img src="Image/cart-white.png">
                        </a>
                    </div>
                    <div class="product_info">
                        <div class="product_name_ctn">
                            <a href="" class="product_name">@list[i].Name</a>
                        </div>
                        <div class="product_price">@list[i].Price</div>
                    </div>
                </div>

            </li>
        }
    </ul>
</div>
<div class="page_navigate_ctn">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<BottomBar></BottomBar>

@code {
    public class Product
    {
        public string Image { get; set; }
        public string Name { get; set; }
        public string Price { get; set; }

        public Product(string image, string name, string price)
        {
            Image = image;
            Name = name;
            Price = price;
        }
    }
    List<Product> list = new List<Product>{
       new Product("https://product.hstatic.net/1000160337/product/steins_gate_kurisu_makise_-_reading_steiner_-_1__2__942867e096e04b3aa8b4965e8229f0a3_master.jpg", "Steins;Gate Kurisu Makise - Reading Steiner - 1/7", "9,800,000₫"),
       new Product("https://product.hstatic.net/1000160337/product/rezero_-_starting_life_in_another_world_-_emilia_-_hanfu_-_1__2__24fb7fdf0219474e98676baf0e47e2b3_master.jpg", "Re:ZERO - Starting Life in Another World - Emilia - Hanfu - 1/7", "9,950,000₫"),
       new Product("https://product.hstatic.net/1000160337/product/steins_gate_kurisu_makise_-_reading_steiner_-_1__2__942867e096e04b3aa8b4965e8229f0a3_master.jpg", "Steins;Gate Kurisu Makise - Reading Steiner - 1/7", "9,800,000₫"),
       new Product("https://product.hstatic.net/1000160337/product/rezero_-_starting_life_in_another_world_-_emilia_-_hanfu_-_1__2__24fb7fdf0219474e98676baf0e47e2b3_master.jpg", "Re:ZERO - Starting Life in Another World - Emilia - Hanfu - 1/7", "9,950,000₫"),
       new Product("https://product.hstatic.net/1000160337/product/rezero_-_starting_life_in_another_world_-_emilia_-_hanfu_-_1__2__24fb7fdf0219474e98676baf0e47e2b3_master.jpg", "Re:ZERO - Starting Life in Another World - Emilia - Hanfu - 1/7", "9,950,000₫"),
    };
}
