* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
img{
    width: 100%;
}
.title_ctn{
    padding: 10px;
}
h3{
    text-align: center;
}
.title_ctn div{
   width:70px;
   height: 5px;
   background-color: black;
   margin: 10px auto;
}
.content_ctn, .bougth_product_ctn, .logout_ctn{
    padding: 0 300px;
}
.content_ctn div{
    padding: 20px 0;
}
h4 {
    font-size: 20px;
    border-bottom: 1px solid #D8D8D8;
    height: 30px;
}
.user_info_ctn{
    display: flex;
}
p{
    margin-right: 10px;
    font-size: 17px;
}
.user_name {
    font-weight: bold;
    font-size: 18px;
}
input {
    outline: none;
    border: none;
    border-bottom: 1px solid #D8D8D8;
    width: 500px;
    height: 25.5px;
}
button {
    outline: none;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-color: red;
    color: white;
}
.logout_ctn{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.logout_ctn button{
    height: 40px;
    width: 150px;
}
.bougth_title{
    margin-top: 30px;
}
.bougth_ctn{
    display: flex;
    padding: 10px 0;
}
.image_ctn {
    width: 15% !important;
    height: 150px;
}
.image_ctn img{
    height: 100%;
    object-fit: contain;
}
.bougth_info_title {
    width: 85% !important;
    padding: 10px;
}
.bougth_info_title div{
    margin-bottom: 5px;
}
.bougth_info_title span{
    font-size: 16px;
}
@media screen and (max-width: 1200px) {
    .content_ctn, .bougth_product_ctn, .logout_ctn {
        padding: 0 200px;
    }
}
@media screen and (max-width: 992px) {
    .content_ctn, .bougth_product_ctn, .logout_ctn {
        padding: 0 100px;
    }
}
@media screen and (max-width: 870px) {
    input{
        width: 350px;
    }
    .image_ctn {
        width: 20% !important;
        height: 150px;
    }
    .bougth_info_title {
        width: 80% !important;
        padding: 10px;
    }
}
@media screen and (max-width: 600px) {
    .content_ctn, .bougth_product_ctn, .logout_ctn {
        padding: 0 10px;
    }
}