@page "/user"

<NavBar></NavBar>
<div class="title_ctn">
    <h3>Tài khoản của bạn</h3>
    <div></div>
</div>
<div class="content_ctn">
    <div>
        <h4>THÔNG TIN TÀI KHOẢN</h4>
    </div>
    <div class="user_info_ctn">
        <p>Họ và tên:</p>
        <p class="user_name">Tan Ne</p>
    </div>
    <div class="user_info_ctn">
        <p>Email:</p>
        <p>tan@gmail.com</p>
    </div>
    <div class="user_info_ctn">
        <p>Địa chỉ:</p>
        <input placeholder="Hồ Chí Minh">
        <button>Cập Nhập</button>
    </div>
    <div >
        <h4 class="bougth_title">SẢN PHẨM ĐÃ MUA</h4>
    </div>
    <div class="bougth_ctn">
        <div class="image_ctn">
            <img src="Image/product1,1.png">
        </div>
        <div class="bougth_info_title">
            <div>
                <span style="font-weight: bold">Nendoroid Swacchao! Attack on Titan Levi</span>
            </div>
            <div>
                <span style="color: red">1,400,000₫</span>
            </div>
            <div>
                <span>Số lượng: 2</span>
            </div>          
        </div>
    </div>
    <div class="bougth_ctn">
        <div class="image_ctn">
            <img src="Image/product1,1.png">
        </div>
        <div class="bougth_info_title">
            <div>
                <span style="font-weight: bold">Nendoroid Swacchao! Attack on Titan Levi</span>
            </div>
            <div>
                <span style="color: red">1,400,000₫</span>
            </div>
            <div>
                <span>Số lượng: 2</span>
            </div>
        </div>
    </div>
    <div class="logout_ctn">
        <button>Đăng Xuất</button>
    </div>   
</div>

<BottomBar></BottomBar>

@code {

}
